version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    commit-message:
        prefix: "chore(github)"
    schedule:
      interval: "weekly"
    assignees:
      - moritzzimmer
    groups:
      actions:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

