repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
        args: ['--envs=AWS_REGION="eu-west-1"']
      - id: terraform_tflint
      - id: terraform_trivy
        args:
          - --args=--tf-exclude-downloaded-modules
          - --args=--skip-dirs "**/.terraform/**/*"
          - --args=--severity=HIGH,CRITICAL
      - id: terraform_docs
        args:
          - '--args=--lockfile=false'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
